@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3E5D8;
}

.all{
    background-color: #fff;
    width: 600px;
    height: 1250px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img img{
    width: 100%;
    height: 200px;
    border-radius: 12px;
}
.main{
    padding-top: 10px;
}
.main h1{
    font-family: "Young Serif", serif;
  font-weight: 400;
    margin-bottom: 10px;
}
.main p{
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 15px;
    color: rgb(88, 85, 85);
}
.time{
    font-size: 14px;
    background-color: #FFF7FC;
    border-radius: 12px;
    padding: 12px;
    
}

.time h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #7F4B63;
}
.time ul{
    margin-left: 16px;
    margin-bottom: 15px;
}
.time span{
    font-weight: 600;
}
.blog{
    margin-top: 10px;
    gap: 20px;
}
.blog h2{
    color:#7D4C39 ;
    margin-bottom: 10px;
}
.intr ul{
    padding-left: 25px;
    font-size: 14px;
    line-height: 12px;
    margin-bottom: 16px;
    padding-bottom: 10px;
    padding-top: 8px;

}
.blog li{
    color:#7D4C39 ;
    gap: 20px;
    margin-left: 25px;
    padding-bottom: 10px;
}
hr{
    font-weight: lighter;
}

.blog span{
    font-weight: 600;
    color: rgb(91, 84, 84);
}

.table1{
    display: flex;
    justify-content: space-evenly;
    margin-right: 300px;
    gap: 30px;
    padding: 10px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7D4C39;
    font-size: 12px;
}